@import "fonts";

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'exo2', sans-serif;

$primary-color: #bfd0f9;
$secondary-color: #140f07;


$primary-background: #1b222f;
$secondary-background: #49537a;
$third-background: #7e8ecb;

$light-background: #bfd0f9;
$dark-background: #140f07;


$primary-shadow: 0 0 10px 5px rgba(73,83,122, .5)

